html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 100%;
    height: 100%;
}

.swipe-wrap {
    overflow: hidden;
}

.swipe {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.swipe.animation {
    transition: margin-left .15s ease-in-out;
}

#columns, #columns > .swipe{
	height: 100%;
}

.column {
    height: 100%;
    width: 33.33333%;
    overflow: auto;
    will-change: transform;
}

.column:nth-child(1) .column-inner {
    background: red;
}

.column:nth-child(2) .column-inner {
    background: blue;
    height: 2000px;
}

.column:nth-child(3) .column-inner {
    height: 200px;
    background: blueviolet;
}

.sticky-box {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
    z-index: 1;
}

#wideo{
    max-width: 80%;
    margin: auto;
}

.wideo{
    height: 200px;
    background: red;
}

.wideo:nth-child(2){
    background: yellow;
}
.wideo:nth-child(3){
    background: green;
}
.wideo:nth-child(4){
    background: gray;
}